body {
  background-image: url(https://images.unsplash.com/photo-1558677949-260173506bbf?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80);
  background-position-x: center;
  background-position-y: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-origin: initial;
  background-clip: initial;
  background-color: gray;
}

header h1 {
  text-align: center;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
  color: #333333;
}

form {
  text-align: center;
}

.list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

.search-box {
  height: 30px;
  width: 300px;
  padding: 5px;
  border: none;
  border-radius: 20px; 
  outline: none;
  text-align: center;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

.card img {
  height: 20rem;
  width: 15rem;
  padding: 10px;
  margin: 50px 20px 30px 20px;
  border-radius: 17px;
}